<table class="table table-responsive">
  <thead>
    <tr>
      <th>Detalles de la dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a>Alias: </a>{{direccion.alias}}</td>
    </tr>
    <tr>
      <td><a>Calle: </a>{{direccion.street}}</td>
    </tr>
    <tr>
      <td><a>Ciudad: </a>{{direccion.city}}</td>
    </tr>
    <tr>
      <td><a>Stado: </a>{{direccion.state}}</td>
    </tr>
    <tr>
      <td><a>ZipCode: </a>{{direccion.zipCode}}</td>
    </tr>
    <tr>
      <td><a>Pais: </a>{{direccion.country}}</td>
    </tr>
    <tr>
      <td><a>Estado: </a>{{direccion.active}}</td>
    </tr>
  </tbody>
</table>

