
<table class="table table-responsive">
  <thead>
      <tr>
        <h1>Bienvenido </h1>
      </tr>
  </thead>
  <tbody *ngIf="cliente | async as cliente">
    <tr>
      <td><a>Nombre: </a>{{cliente.name}}</td>
    </tr>
    <tr>
      <td><a>Apellido: </a>{{cliente.lastName}}</td>
    </tr>
    <tr>
      <td><a>ID: </a>{{cliente.cedula}}</td>
    </tr>
    <tr>
      <td><a>Cumpleaños: </a>{{cliente.birthDate}}</td>
    </tr>
    <tr>
      <td><a>Correo: </a>{{cliente.email}}</td>
    </tr>
  </tbody>
</table>

<app-cliente-direccion></app-cliente-direccion>