<h3> Mis clientes</h3>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Acciones</th>
            <th>ver</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientes">
            <td>{{item.clienteId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.cedula}}</td>
            <td>
                <ng-container *ngIf="item.active then botonParaActivo; else botonParaInactivo"></ng-container>

                <ng-template #botonParaActivo>
                    <button [ngClass]="{'btn btn-danger': item.active}">inhabilitar</button>
                </ng-template>

                <ng-template #botonParaInactivo>
                    <button [ngClass]="{btn: item.active}">habilitar</button>
                </ng-template>
            </td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/cliente', item.clienteId]" 
                routerLinkActive="router-link-active">Ver</a>
            </td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/direcciones', item.clienteId]" 
                routerLinkActive="router-link-active">Localizar</a>
            </td>
        </tr>
    </tbody>
</table>
